*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player{
 width:  25%;
 height: 40rem;
 background-color: #f8d4d4;
 padding: 3rem 3rem;
 border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.icon {
  background-color: white;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-top: 0.9rem;
  padding-left: 1rem;
  color: #f48fb1;
box-shadow: 0 0 15px #f48fb1;
cursor: pointer;
}

img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.music-player{
  position: relative;
}


.imgg {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   height: 14rem;
   width: 14rem;
   border-radius:50% ;
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
box-shadow: 0 0 15px #f48fb1;
/*position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
*/
}
.imggg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  padding-top: 1.5rem;
text-align: center;
color: #6a1b9a;

}

.text h1 , p {
text-align: center;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  height: 0.6rem;
  background-color: #f48fb1;
  cursor: pointer;
  margin-top: 4rem;
  
}

.range::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #f48fb1;
   width: 25px;
   height: 25px;
   
   border: 6px solid white;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   box-shadow: 2px 2px 15px #f48fb1;
   cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.controls div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 20px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #f48fb1;
  background-color: white;
  cursor: pointer;
   box-shadow: 2px 2px 15px #f48fb1;
   height: 4rem;
   width: 4rem;
}

.controls div:nth-child(2){
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  border: 25px solid #f48fb1;
  color: white;
  background-color: #f48fb1;
}

.devloper {
margin-top: 2rem;
margin-left: 15rem;
color: #6a1b9a;
text-shadow: 0 0 18px #9031cb;
}
